<div class="min-h-screen bg-surface-light dark:bg-surface-dark flex flex-col transition-colors duration-300">

  <app-header class="fixed top-0 z-30 w-full"></app-header>

  <div class="flex flex-1 pt-16">

    <app-sidebar
      [class.translate-x-0]="isSidebarOpen()"
      [class.-translate-x-full]="!isSidebarOpen()"
      class="fixed inset-y-0 left-0 z-20 w-64 mt-16 transform transition-transform duration-300 ease-in-out bg-panel-light dark:bg-panel-dark border-r border-border-light dark:border-border-dark"
    >
    </app-sidebar>

    <main
      class="flex-1 w-full transition-all duration-300 ease-in-out px-4 py-2 md:px-6 md:py-4"
      [class.lg:ml-64]="isSidebarOpen()"
      [class.lg:ml-0]="!isSidebarOpen()"
    >

      <div class="max-w-7xl">
        <router-outlet></router-outlet>
      </div>

    </main>

  </div>

  @if (isSidebarOpen()) {
    <div
      (click)="toggleSidebar()"
      class="fixed inset-0 z-10 bg-surface-dark/50 lg:hidden cursor-pointer!"
    >
    </div>
  }

</div>
